{
    "presets": [
        "next/babel"
    ],
    "plugins": [
        [
            "styled-components",
            {
                "ssr": true,
                "displayName": true,
                "preprocess": false,
                "minify": false,
                "transpileTemplateLiterals": false
            }
        ],
        [
            "prismjs",
            {
                "languages": [
                    "bbcode"
                ],
                "plugins": [
                    "line-numbers",
                    "show-language"
                ],
                "theme": "funky",
                "css": true
            }
        ]
    ]
}